merged_dataset2
my_ass_output.mp4
reduced_dataset_2k
reduced_dataset_5k
runs
trash
video_results
match.mp4
tayyab_vid.mp4
output_advanced_tracking.mp4
yolov8s.pt
yolov8m.pt
yolo11n.pt
2.mp4
KickSense
fixed_labels
football-players-detection.v1i.yolov8
augment-classes.py
filter-class.py
styled_output_with_teams.mp4
filters.py
merge-dataset.py
sanity.py
test-trained-model-100epochs.py
final_inference.py
reduce-dataset.py
train_merged.py
sample-per-class-check.py
kick-Sense
input_videos
run_inference.py
auto_samples
clustered
test.mp4
test2.mp4
test3.mp4
best.pt
.venv
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.env
IMPLEMENTATION_FEATURES.md
/frontend/.gitignore